body{
    background-color: #252525;
}
*{
    margin: 0;
    padding: 0;
}
.background_Img{
    width: 100%;
    background-color: antiquewhite;
    height: 100vmax;
    isolation: isolate;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('./eff94585953a1b38c3eb9dae950bf651.jpg');
}
.background_Img::before{
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
   background: linear-gradient(0deg,rgb(157, 154, 174,.4),rgba(85, 33, 176,.7));
}
.peringatan{
    margin:20vmax auto;
    width: 60%;
    background-color: rgb(218, 46, 46);
    border-radius: 10px;
    height: 10vmax;
    color: bisque;
}
.peringatan > h1{
    text-align: center;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 10vmax;
}
.text_Running{
    margin-top: -60vmax;
    margin-left: 3vmax;
    text-align: center;
    border-radius: 5px;
    line-height: 4vmax;
    position: absolute;
    color: rgb(255, 249, 243);
    font-family: sans-serif;
    background-color: rgb(22, 24, 23);
}
.Title{
    width: 60%;
    margin:15vmax auto;
    box-shadow: 1px 1px 1px 3px rebeccapurple;
    text-align: center;
    line-height: 8vmax;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: sans-serif;
    height: 8vmax;
    background-color: #252525;
}
a{
    text-decoration: none;
    color: white;
}
.border{
    border-radius: 15px;
    width: 90%;
    margin: auto;
    margin-top: -5vmax;
    background-color: rgb(203, 218, 218);
    height: 35vmax;
     box-shadow:
  8.2px 6.9px 7.4px rgba(0, 0, 0, 0.092),
  17.6px 14.9px 20.5px rgba(0, 0, 0, 0.121),
  33.7px 28.5px 49.4px rgba(0, 0, 0, 0.149),
  78px 66px 164px rgba(0, 0, 0, 0.21)
;
}
button:hover{
    scale: .9;
    background-color: #212d9f;
    color: rgb(150, 146, 144);
}
button{
    width: 44%;
    color:white;
    border: none;
    border-radius: 5px;
    height: 8vmax;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.2rem;
    text-align: center;
    line-height: 7vmax;
    display: inline-block;
    cursor: pointer;
    margin-left: 32%;
    margin-top: 4vmax;
    background-color: #18259d;
}
.qoutes{
    margin: auto;
    width: 90%;
    height: 20vmax;
    --max-lines:3;
    overflow: hidden;
    font-size: 1.3rem;
    text-align: center;
    font-family: sans-serif;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-line-clamp: var(--max-lines);  
}
.person{
    font-weight: bold;
    color: rgb(199, 59, 59);
    font-family: sans-serif;
    text-align: center;
    font-size: 1.4rem;
    line-height: 15vmax;
}
.background-loading{
    margin-top: 10vmax;
    width: 45%;
    font-family: sans-serif;
    line-height: 15vmax;
    margin:50vmax auto;
    border-radius: 10px;
    height: 15vmax;
    background-color: aliceblue;
    animation: background-loading 1s ease-in infinite alternate ;
  
}
.loading-qoutes{
    position: absolute;
    display: none;
    width: 100%;
    height: 100vmax;
    margin: auto;
    background-color: rgb(7, 90, 134);
}

@keyframes background-loading{
    from
    {
     margin-top: 20vmax;  
     opacity: 1;
    }
    to
    {
     margin-top: 30vmax;
     opacity: .6;
    }
  }

